<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="static/formulario/css/style.css">
  <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/7636/7636421.png">
    
  <head>
    <meta charset="UTF-8">
        <meta name="viewpoint"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
        <meta http-equiv="X-UA-Compatible", content="ie=edge">
    <title>Home</title>
    
  </head>


  <body>
    

    <div class="col-6 mx-auto">
      <button type="button" class="btn-outline-primary" onclick="location.href= '{%url 'listBanco' %}'">TEST</button>
    </div>


  </body>
</html>

